@define-color fg rgba(220, 220, 220, 1);
@define-color bg rgba(0, 0, 0, 0.2);
@define-color bg-hover rgba(100, 100, 100, 0.2);

@define-color outline rgba(89, 89, 89, 170);
@define-color outline-active rgba(51, 204, 255, 238);

* {
  border: none;
  font-family: "Ubuntu";
  font-size: 14px;
}

window#waybar {
  font-weight: bold;
  border: 2px solid @outline;
  border-radius: 10px;

  background-color: @bg;
}

/* MODULE GROUPS */
.modules-center,
.modules-left,
.modules-right {
  min-height: 40px;
}

/* MODULES */
#battery,
#backlight,
#clock,
#cpu,
#custom-media,
#custom-menu,
#custom-notification,
#custom-power,
#custom-wireguard-manager,
#custom-fullscreen-indicator,
#idle_inhibitor,
#language,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces {
  padding: 0px 15px;
}

/* WORKSPACES */
#workspaces {
  padding: 0px;
}

#workspaces button {
  border: 0px solid @outline;
  border-radius: 10px;

  padding: 0px 8px;

  color: @fg;

  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  padding: 0px 16px;

  border: 2px solid @outline-active;

  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  border: 2px solid @outline-active;

  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* CUSTOM POWER */
#custom-power {
  min-width: 80px;
  margin: 2px;

  background-color: rgba(0, 170, 255, 0.3);

  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#custom-power:hover {
  background-color: rgba(0, 100, 200, 0.3);
}

#custom-fullscreen-indicator {
  color: #38b057;
}

#language {
  min-width: 30px;
}

#network {
  min-width: 230px;
}

#window {
}

/* HOVER */
#custom-wireguard-manager:hover {
  background-color: @bg-hover;
}

/*-----Indicators----*/
#idle_inhibitor.activated {
  color: #2dcc36;
}
#pulseaudio.muted {
  color: #cc3436;
}
#battery.charging {
  color: #2dcc36;
}
#battery.warning:not(.charging) {
  color: #e6e600;
}
#battery.critical:not(.charging) {
  color: #cc3436;
}
#temperature.critical {
  color: #cc3436;
}
