@define-color bg rgba(40, 42, 54, 0.5);
@define-color outline #33ccff;

window {
  margin: 0px;
  border: 2px solid @outline;
  background-color: @bg;
  border-radius: 15px;
}

#input {
  padding: 10px;
  border: 2px solid @outline;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: @bg;
  color: white;
}

#inner-box {
  margin: 10px;
}

#outer-box {
  margin: 0px 0px 10px 0px;
}

#scroll {
}

#text {
  margin: 5px;
}

#entry.activatable #text {
}

#entry > * {
  color: rgba(255, 255, 255, 1);
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  outline-style: none;
}

#entry:selected #text {
  font-weight: bold;
}

#img {
  margin: 10px;
}
