@define-color text            rgba(220, 220, 220, 1);
@define-color background      rgba(0, 0, 0, 0.2);
@define-color background-alt  rgba(80, 80, 80, 0.5);
@define-color hover           rgba(90, 90, 90, 0.6);
@define-color selected        rgba(100, 100, 100, 0.7);
@define-color urgent          rgba(180, 20, 60, 1);

window {
  font-family: Fira Code Medium;
  font-size: 16pt;
  color: @text; /* text */
  background-color: rgba(24, 27, 32, 0.2);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: @background-alt;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 36px;
  margin: 10px;
}

button:focus {
  box-shadow: none;
  background-size: 20%;
  background-color: @selected;
}

button:hover {
  background-size: 30%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background-color: @hover;
  color: transparent;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.5s ease-in;
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}

#suspend {
  background-size: 30%;
  background-image: image(url("./icons/suspend.png"));
}

#suspend:hover {
  background-size: 40%;
}
